In [6]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('intex2.db')
cursor = conn.cursor()
read_sql = "select * from Customers"
df = pd.read_sql_query(read_sql, conn)
df.head()
# df_products = pd.read_csv(r'C:\Users\gooch\Downloads\INTEX W24 Dataset.xlsx - Products.csv')
# df_products.to_sql(name="Products", con=conn, if_exists='replace', index=False)

,customer_ID,first_name,last_name,birth_date,country_of_residence,gender,age
0,1,William,Turner,7/3/1995,United Kingdom,M,25.2
1,2,Maryella,Vanderpool,8/27/1970,USA,F,49.6
2,3,Warnika,Acharya,7/1/1978,India,F,42.2
3,4,Elizabeth,Bennett,11/21/1969,United Kingdom,F,51.0
4,5,Macen,Heckler,11/7/1982,United Kingdom,M,38.0

29134